@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
input{
  cursor: pointer;
}
label{
  cursor: pointer;
}
.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
  padding: 0 20px;
  max-width: 760px;
  margin: 0 auto;
}
.wrapper:before {
  content: "";
  display: block;
  position: fixed;
  width: 300%;
  height: 100%;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  transform: translateX(-50%) skewY(-8deg);
  background-color: #f6c90e;
  z-index: -1;
  -webkit-animation: App-wave 8s ease-in-out infinite alternate;
  animation: App-wave 8s ease-in-out infinite alternate;
}

@keyframes App-wave {
  0% {
      transform: translateX(-50%) skew(0deg,-8deg)
  }

  to {
      transform: translateX(-30%) skew(8deg,-4deg)
  }
}
.App-card {
  background-color: #fff;
  box-sizing: border-box;
  width: 360px;
  height: 600px;
  box-shadow: 0 3.2px 2.2px rgba(0,0,0,.02), 0 7px 5.4px rgba(0,0,0,.028), 0 12.1px 10.1px rgba(0,0,0,.035), 0 19.8px 18.1px rgba(0,0,0,.042), 0 34.7px 33.8px rgba(0,0,0,.05), 0 81px 81px rgba(0,0,0,.07);
  border-radius: 30px;
  overflow: hidden;
  padding: 0 28px;
  position: relative;
  margin-bottom: 20px;
}
.App-card::before{
  content: "";
  display: block;
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background-color: #f6c90e;
  top: -20%;
  left: -50%;
  z-index: 0;
}
.App-card-Item {
  
  margin: 16px 0;
  position: relative;
  z-index: 10;
}
.Item-button{
  align-items: center;
  background-color: #f6c90e;
  border-radius: 100px;
  box-sizing: border-box;
  display: flex;
  font-size: 14px;
  font-weight: 700;
  height: 46px;
  min-width: 46px;
  padding: 16px 20px;
  position: relative;
  transition: all .25s ease;
  -webkit-user-select: none;
  user-select: none;
  white-space: nowrap;
}
.App-title{
  font-size: 24px;
  font-weight: 700;
  margin: 16px 0;
  position: relative;
  z-index: 10;
}
.select-title{
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  margin: 28px 0 8px;
}